---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import ScrollSnapContainer from '../layouts/ScrollSnapContainer';
import Header from '../components/Header';
import Card from '../components/Card';

import '../styles/main.scss';

import metadata from '../data/_metadata.json';

const collection = await getCollection('content');
---

<BaseLayout siteTitle={metadata.siteTitle}>
  <ScrollSnapContainer client:load>
    <header class="header">
      <Header
        title={metadata.pageTitle}
        subtitle={metadata.subtitle}
        subsubtitle={metadata.subsubtitle}
        description={metadata.description}
        links={metadata.links}
      />
    </header>

    <main>
      {
        collection.map(({ data, body }) => (
          <section
            style={{
              order: Number.isInteger(data.order)
                ? data.order
                : collection.length,
            }}
          >
            <div class="card" id={data.title}>
              <Card
                client:load
                title={data.title}
                keywords={data.keywords}
                links={data.references?.map((ref) => ref.URL!)}
                target={data.target}
                body={body}
              />
            </div>
          </section>
        ))
      }
    </main>
  </ScrollSnapContainer>
</BaseLayout>
